<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <title>Order Detail</title>
    <style>
         .user_card {
            position: absolute;
width: 1000px;
left: 150px;
top: 110px;

background: rgba(9, 40, 52, 0.2);
border-radius: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 9px;

		}
    #table
    {
background-color: white;
    }
    </style>
</head>
<body style="background: #E5E5E5;">
    {% include 'navbar.html' %}
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-left">
                        <h3>Order Details</h3>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h5> Order ID :&nbsp;{{ o.id }}</h5>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h5>Name :&nbsp;{{ o.customer.c_fname }} {{o.customer.c_lname}}</h5>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Phone :&nbsp;{{ o.customer.c_phone }}</h6>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Address:&nbsp;{{ o.customer.c_address }}</h6>
                    </div>
                     <br>
                     <div class="d-flex justify-content-left">
                        <h6>Items Ordered:</h6>
                    </div>
                    <div class="d-flex justify-content-left">
                        <table class="container table table-striped" id="table">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Product</th>
                                    <th>Rate</th>
                                    <th>#Units</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ol in ol %}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ ol.product.p_name }}</td>
                                    <td>{{ ol.product.p_price }}</td>
                                    <td>{{ ol.ol_unit }}</td>
                                    <td>{{ ol.ol_cost }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Order Instructions:&nbsp;{{ o.feedback }}</h6>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Bill ID#:&nbsp;{{ bill.id }}</h6>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Bill Amount(Extra Charges Applied):&nbsp;{{ bill.bill_amt }}</h6>
                    </div>
                    <div class="d-flex justify-content-left">
                        <h6>Payment Method:&nbsp;{{ bill.pay_mode }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>